.App {
  text-align: center;
}
.jumbotron{
  margin-bottom: 0px !important;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.forum-posts{
  max-height: 300px;
  overflow-y: scroll;
}
.new-post-input{
  height: 100px !important;
}
.new-title-input{
  margin-bottom: 1%;
  background-color: cornsilk;

}
.post-title{
  text-align: left;
  background-color: lavender;
  padding: 10px;
}
.post-body{
  text-align: left;
  padding-left: 10px;

}
.newPost{
  margin-top: 2%;
  
}
::-webkit-scrollbar {
	width: 0px;
	background-color: #D8D8D8;
}


/* Track */

::-webkit-scrollbar-track {
	box-shadow: inset 0px 0px 0px #E8E8E8;
	background-color: #FFFFFF;
}


/* Handle */

::-webkit-scrollbar-thumb {
	background-color: #D8D8D8;
	border-radius: 3px;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Newsdiv{
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    background-color: azure;
  }
  
  .imgclass{
    width: 100%;
    height: 100%;
  }
  
  .news-class{
  margin-top: 50px;
  }
  
  .publish{
  text-align: left !important;
  }
  
  .articledesc{
  margin-top: 10px;
  color: #605c65;
  }