body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home-body{
  background-image: linear-gradient(-90deg, darkslateblue, black);
  height:500px;
  color:#fff;
  padding-left:30px !important;
  padding-top:10px !important;
}
.home-pri-text{
  font-size:40px;
  text-align: center;
}
.home-sub-text{
  text-align: center;
}
.backdrop.shibuya {
  background-image: url("https://rpsthecoder.github.io/img-repo/Shibuya%20by%20Alex%20Knight.jpg");
}
.backdrop {
  background-size: auto;
  background-position: center;
  margin: auto;
  margin-top: 40px;
  width: 100%;
  height: 200px;
}
.done-text{

}
.text {
  color: white;
  border: 4px white solid;
  mix-blend-mode: multiply;
  font: bolder 12vw monospace;
  text-align: center;
  margin: 0;
  cursor: pointer;
  transition: text-indent 0.5s;
}

.text:hover {
  text-indent: 5px;
  transition: text-indent 0.5s;
}

.text:hover::before {
  display: inline-block;
  content: "✈︎";
}
.text.shibuya {
  font-family: "Bungee Shade", cursive;
  background-color: rgba(2, 22, 48, 1);
  outline: 4px rgba(2, 22, 48, 1) solid;
  font-size: 10vw;
}

